<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Heroku Flask Template</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
        <h1 id="tittle">Heroku Flask Template</h1>
        <nav>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="https://github.com/vetronus/heroku-flask-template">SOURCE CODE(GitHub)</a></li>
                <li><a href="http://parthsarthee.com/">PARTH SARTHEE(Author)</a></li>
                <li><a href="http://aroxbit.com">AROXBIT(Awesome Indie Startup)</a></li>
            </ul>
        </nav>
        <h2>What is Heroku Flask Template</h2>
        <p>
            Heroku Flask Template is a simple web app programmed in Python-3 using flask micro-framework. It is created for begginers to understand the basics of creating a flask web app and deploying it on the Heroku. It can also be used as a template to create your new flask web apps which can then easily be deployable on Heroku.
        </p><br>
        <h3>You can download this plugin, or modify its source code from <a href="https://github.com/vetronus/heroku-flask-template">GitHub</a></h3>
    </body>
</html>